.portfolio-menu {
    margin-top: 20px
}

.portfolio-menu a {
    color: #5b5b5b;
    position: relative;
}

.portfolio-menu a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -8px;
    left: 0;
    background-color: #11BFF8;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.portfolio-menu a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.portfolio-menu a:active:before {
    visibility: visible;
}


.portfolio-menu a:hover {
    color: #11BFF8;
    text-decoration: none;
}
.portfolio-menu a:focus {
    color: #11BFF8;
    text-decoration: none;
}
.portfolio-menu a:active {
    color: #11BFF8;
    text-decoration: none;
}


.portfolio-overview h1 {
    font-size: 12vw;
    color: #5b5b5b;
    font-weight:900;
    text-align: center;
    margin-top: 0px;
}

.portfolio-overview h3 {
    font-size: 4vw;
    font-weight:900;
    text-align: center;
    margin: 0px;
}

.portfolio-value-change-positive {
    color: #89EC9E;
}

.portfolio-value-change-negative {
    color: #FD7B87;
}

.overview-timescales {
    margin-top: 20px;
    margin-bottom: 10px;
}
.overview-timescales a {
    font-size: 18px;
    font-weight: 500;
    color: #5b5b5b;
}

.overview-timescales a:hover {
    font-weight: 500;
    color: #5b5b5b;
}

.overview-breakdown {
    margin-top: 20px;
    text-align: center !important;
}

.overview-breakdown a {
    color: #11BFF8;
    font-size: 30px;
    font-weight: 500;
}

.overview-breakdown h3 {
    margin-top: 15px;
    color: #5b5b5b;
    font-weight: 900;
}

.overview-breakdown p {
    margin-top: 5px
}
.overview-breakdown p:hover {
    color: #11BFF8;
    cursor: pointer;
}

.overview-breakdown i {
    position: relative;
    top: 2px;
}

.portfolio-holdings {
text-align: center;
    margin-top: 2%;
}

.portfolio-holdings a {
    font-weight: 500;
    color: #5b5b5b;
}

.portfolio-holdings h1 {
    font-size: 8vw;
    font-weight: 900
}