@media all and (min-width: 1280px) {
    .App-menu a {
        font-size: 26px;
    }
    .App-menu i {
        font-size: 26px;
    }
    .tickers p {
        font-size: 20px;
    }
    .tickers span {
        font-size: 18px;
    }
    .userMenu i {
        font-size: 28px;
    }
    .portfolio-menu a {
        font-size: 28px;
    }
    .portfolio-holdings a {
        font-size: 40px;
        font-weight: 500;
    }
}

@media all and (min-width: 1024px) and (max-width: 1280px) {

    .App-menu a {
        font-size: 20px;
    }
    .App-menu i {
        font-size: 20px;
    }
    .tickers p {
        font-size: 14px;
    }

    .tickers span {
        font-size: 12px;
    }
    .userMenu i {
         font-size: 24px;
         color: #5b5b5b;
         margin: 10px;
         cursor: pointer;
     }
    .portfolio-menu a {
        font-size: 22px;
    }
    .portfolio-holdings a {
        font-size: 34px;
        font-weight: 500;
    }
}

@media all and (min-width: 767px) and (max-width: 1024px) {
    .App-menu a {
        font-size: 14px;
    }
    .App-menu i {
        font-size: 12px;
    }
    .tickers p {
        font-size: 12px;
    }

    .tickers span {
        font-size: 10px
    }
    .userMenu i {
        font-size: 14px;
        color: #5b5b5b;
        margin: 10px;
        cursor: pointer;
    }
    .portfolio-menu a {
        font-size: 18px;
    }
    .portfolio-holdings a {
        font-size: 28px;
        font-weight: 500;
    }
}

@media all and (min-width: 480px) and (max-width: 767px) {

    .App-menu a {
        font-size: 20px;
    }
    .App-menu i {
        font-size: 20px;
    }
    .tickers p {
         font-size: 8px;
     }

    .tickers span {
        font-size: 6px;
    }
    .portfolio-menu a {
        font-size: 18px;
    }
    .portfolio-holdings a {
        font-size: 20px;
        font-weight: 500;
    }

}

@media all and (max-width: 480px) {

    .App-menu a {
        font-size: 20px;
    }
    .App-menu i {
        font-size: 20px;
    }
    .tickers p {
        font-size: 6px;
    }

    .tickers span {
        font-size: 4px;
    }
    .portfolio-menu a {
        font-size: 18px;
    }
    .portfolio-holdings a {
        font-size: 20px;
        font-weight: 500;
    }
}